amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.17
dj-database-url==0.4.0
Django==1.8.6
django-cors-headers==1.1.0
djangorestframework==3.3.2
Jinja2==2.8
kombu==3.0.32
MarkupSafe==0.23
psutil==4.1.0
psycopg2==2.6.1
PyInstaller==3.1.1
pytz==2016.3
redis==2.10.5
redislite==3.0.271
selenium==2.52.0
waitress==0.8.10
