html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: helvetica, arial, san-serif;
  line-height: 1.5em;
  margin-left: 10px;
  margin-top: 10px; }

.entityThumbHighlight {
  float: left;
  width: 75px;
  height: 75px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: yellow; }

.entityThumbContainer {
  float: left;
  width: 70px;
  height: 70px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: red; }

.entityThumbPic {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-color: orange; }

.entityThumbName {
  float: left;
  width: 70px;
  height: 20px;
  background-color: purple;
  font-size: 9pt;
  text-align: center;
  overflow: hidden; }

.entityPanelRightArrow {
  float: left;
  width: 20px;
  height: 70px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: red;
  visibility: hidden; }

.entityPanelLeftArrow {
  float: left;
  width: 20px;
  height: 70px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: red;
  visibility: hidden; }

@font-face {
  font-family: 'Roboto Black';
  src: url(/static/fonts/Roboto-Black.ttf); }
#sideBar input {
  text-align: center; }

.sideBarTab {
  float: left;
  width: 150px;
  height: 30px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #748d9b;
  cursor: pointer; }

.selectedSideBarTab {
  background-color: #CCEEFF; }

#componentViewer .componentThumbnail {
  float: left;
  height: 30px;
  width: 30px;
  /*background-color:teal;*/ }

#componentViewer .typeThumbnail {
  border-radius: 15px;
  background-color: #0092c3; }

#componentViewer .hideShowArrow {
  float: left;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: black; }

#componentViewer .componentContainer {
  float: left;
  width: 100%;
  margin-bottom: 5px; }

#componentViewer .classViewer {
  float: left;
  width: 230px;
  margin-left: 20px; }

#componentViewer .instanceViewer {
  float: left;
  width: 180px;
  margin-left: 50px;
  margin-top: 5px; }

#componentViewer .nameInputContainer {
  float: left;
  height: 20px;
  width: 120px;
  margin-left: 5px;
  margin-top: 5px; }

#componentViewer .nameInput {
  width: 110px; }

#componentViewer .typeContainer {
  float: left;
  height: 30px;
  width: 100%;
  margin-bottom: 5px; }

#componentViewer .typeName {
  float: left;
  height: 20px;
  width: 165px;
  margin-left: 5px;
  margin-top: 5px; }

#layerInstanceInfoPanel input {
  text-align: center; }

#layerInstanceInfoPanel {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

/* for color picker
http://www.almondjosephmendoza.com/2010/03/closure-googuicolorpicker-example.html */
.goog-palette-cell {
  height: 40px;
  width: 40px;
  margin: 0;
  border: 0;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #666;
  font-size: 1px; }

.goog-palette-colorswatch {
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid #666666; }

.headerModeButtonContainer {
  float: left;
  width: 80px; }

.headerModeImageContainer {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  position: relative;
  background-color: white; }

.headerModeButtonText {
  float: left;
  width: 100%;
  height: 20px;
  text-align: center;
  font-family: 'Roboto Black';
  font-size: 10pt; }

.headerButtonBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; }

.headerButton {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2; }

div#updateProcedureBlockButton {
  display: block;
  color: white;
  background-image: -linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -webkit-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -moz-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -ms-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  width: 100px;
  /*margin-right:100px;*/
  text-align: center; }
  div#updateProcedureBlockButton:hover {
    background-image: -linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -webkit-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -moz-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -ms-linear-gradient(top, #2f941e 0%, #1e5d13 100%); }

div#addProcedureParameterButton {
  display: block;
  color: white;
  background-image: -linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -webkit-linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -moz-linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -ms-linear-gradient(top, #177fc7 0%, #10598c 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  width: 150px;
  margin-right: 20px;
  text-align: center; }
  div#addProcedureParameterButton:hover {
    background-image: -linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -webkit-linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -moz-linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -ms-linear-gradient(top, #1368a2 0%, #0c4267 100%); }

.entitySelectionButton {
  /* float:left;*/
  width: 60px;
  height: 88px;
  display: none; }

.entitySelectionContainer {
  float: left;
  /*width:240px;*/
  width: 260px;
  /*width:320px;*/
  margin-left: 16px;
  margin-top: 5px;
  text-align: center; }

.resetGameButton {
  /* float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;cursor:pointer;border-radius:10px;background-color:rgb(0,146,195);color:white;*/
  color: white;
  background-image: -linear-gradient(top, #0092c3 0%, #006081 100%);
  background-image: -webkit-linear-gradient(top, #0092c3 0%, #006081 100%);
  background-image: -moz-linear-gradient(top, #0092c3 0%, #006081 100%);
  background-image: -ms-linear-gradient(top, #0092c3 0%, #006081 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block; }
  .resetGameButton:hover {
    background-image: -linear-gradient(top, #00739a 0%, #004258 100%);
    background-image: -webkit-linear-gradient(top, #00739a 0%, #004258 100%);
    background-image: -moz-linear-gradient(top, #00739a 0%, #004258 100%);
    background-image: -ms-linear-gradient(top, #00739a 0%, #004258 100%); }

.stopGameButton {
  /* style="float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;border-radius:10px;background-color:rgb(212,25,0);color:white;" */
  color: white;
  background-image: -linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -webkit-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -moz-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -ms-linear-gradient(top, #d41900 0%, #921100 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block; }
  .stopGameButton:hover {
    background-image: -linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -webkit-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -moz-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -ms-linear-gradient(top, #ab1400 0%, #690c00 100%); }

.helpNextButton {
  /* float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;cursor:pointer;border-radius:10px;background-color:rgb(0,146,195);color:white;*/
  color: white;
  background-image: -linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -webkit-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -moz-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -ms-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block; }
  .helpNextButton:hover {
    background-image: -linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -webkit-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -moz-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -ms-linear-gradient(top, #2f941e 0%, #1e5d13 100%); }

.greenButton {
  color: white;
  background-image: -linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -webkit-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -moz-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -ms-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block; }
  .greenButton:hover {
    background-image: -linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -webkit-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -moz-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -ms-linear-gradient(top, #2f941e 0%, #1e5d13 100%); }

.blueButton {
  color: white;
  background-image: -linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -webkit-linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -moz-linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -ms-linear-gradient(top, #177fc7 0%, #10598c 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block; }
  .blueButton:hover {
    background-image: -linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -webkit-linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -moz-linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -ms-linear-gradient(top, #1368a2 0%, #0c4267 100%); }

.redButton {
  color: white;
  background-image: -linear-gradient(top, #bf0707 0%, #7f0505 100%);
  background-image: -webkit-linear-gradient(top, #bf0707 0%, #7f0505 100%);
  background-image: -moz-linear-gradient(top, #bf0707 0%, #7f0505 100%);
  background-image: -ms-linear-gradient(top, #bf0707 0%, #7f0505 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block; }
  .redButton:hover {
    background-image: -linear-gradient(top, #980606 0%, #580303 100%);
    background-image: -webkit-linear-gradient(top, #980606 0%, #580303 100%);
    background-image: -moz-linear-gradient(top, #980606 0%, #580303 100%);
    background-image: -ms-linear-gradient(top, #980606 0%, #580303 100%); }

.tutorialPic {
  cursor: pointer; }

.ht_clone_top {
  z-index: 10; }

.categoryBox {
  float: left;
  height: 33px;
  width: 78px;
  font-size: 9pt;
  border: 1px solid black;
  background-color: #DDDDDD;
  cursor: pointer;
  overflow: hidden; }

.entityCategoryContainer {
  float: left;
  width: 420px; }

.entityCategoryNameLabel {
  float: left;
  width: 100%;
  background-color: #748d9b;
  visibility: visible; }

.entityCategorySelections {
  float: left;
  max-height: 137px;
  width: 100%;
  background-color: #DDDDDD;
  overflow-y: scroll; }

.entityCategorySelectionContainer {
  float: left;
  height: 55px;
  width: 78px;
  font-size: 9pt;
  border: 1px solid black;
  background-color: #DDDDDD;
  cursor: pointer;
  overflow: hidden; }

.entityCategorySelectionImage {
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 24px;
  /*background-color:blue;*/ }

.entityCategorySelectionName {
  float: left;
  width: 100%;
  height: 25px;
  /*background-color:red;*/
  line-height: 12px;
  text-align: center;
  overflow: hidden; }

#helpShowButton, #helpHideButton {
  position: fixed;
  top: 120px;
  right: 0px;
  width: 40px;
  height: 35px;
  z-index: 1001;
  background-color: #bebec6;
  text-align: center;
  padding: 25px 0;
  line-height: 30px;
  vertical-align: middle;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175); }
  #helpShowButton:hover, #helpHideButton:hover {
    background: #828587; }
  #helpShowButton .text, #helpHideButton .text {
    color: white;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }

#helpPanel {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 380px;
  height: 100%;
  z-index: 1000;
  display: none; }

#helpHideButton {
  float: left;
  position: relative; }

.iframeContainer {
  float: left;
  width: 340px;
  height: 100%;
  background-color: #3f3f3f;
  color: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175); }
  .iframeContainer #rightPaneliFrame {
    float: left;
    width: 100%;
    height: 100%;
    border: none; }

.panelContainer {
  font-size: 14px;
  float: left;
  width: 100%;
  background-color: #3f3f3f;
  color: white;
  padding: 20px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .panelContainer h1 {
    font-size: 140%;
    font-weight: bold; }
  .panelContainer h2 {
    font-size: 120%;
    font-weight: bold; }
  .panelContainer section {
    margin-top: 10px;
    margin-bottom: 16px; }
  .panelContainer a, .panelContainer a:visited, .panelContainer a:focus {
    color: #6dc5dc; }
  .panelContainer a:hover {
    color: #6dc5dc;
    opacity: 60%; }
  .panelContainer img {
    display: block;
    margin: 6px 0; }
  .panelContainer .button {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 12px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffb100;
    font-size: 110%;
    border-radius: 4px;
    margin: 10px 0; }
  .panelContainer .button:hover, .panelContainer .button:active {
    color: black;
    background-color: #ffc133; }
  .panelContainer .panelHeader {
    text-align: center; }
  .panelContainer #headerPageButtons {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 10px; }
    .panelContainer #headerPageButtons span, .panelContainer #headerPageButtons a {
      margin: 0 10px; }

.nextButton {
  color: white;
  background-image: -linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -webkit-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -moz-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  background-image: -ms-linear-gradient(top, #3ab625 0%, #287f1a 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 24pt;
  display: inline-block; }
  .nextButton:hover {
    background-image: -linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -webkit-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -moz-linear-gradient(top, #2f941e 0%, #1e5d13 100%);
    background-image: -ms-linear-gradient(top, #2f941e 0%, #1e5d13 100%); }

.helpHomeButton {
  color: white;
  background-image: -linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -webkit-linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -moz-linear-gradient(top, #177fc7 0%, #10598c 100%);
  background-image: -ms-linear-gradient(top, #177fc7 0%, #10598c 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 24pt;
  display: inline-block; }
  .helpHomeButton:hover {
    background-image: -linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -webkit-linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -moz-linear-gradient(top, #1368a2 0%, #0c4267 100%);
    background-image: -ms-linear-gradient(top, #1368a2 0%, #0c4267 100%); }
