@import "base";

div.filepicker-dialog
{
	width: 800px;
	margin: 0px auto;
	background: #DDD;
	border: solid 4px #AAA; 
	border-radius: 2px;
	position: relative;
	height: 400px; 
	text-decoration: none;
	color: #333;

	div.filepicker-close
	{
		position: absolute;
		top: 5px; right: 5px;
	}
	div.filepicker-sound-asset-container
	{
		float: left;
		height: 40px;
		width: 175px;
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 3px;
		margin-right: 3px;
		border: 1px solid black;

		div.asset-content-container
		{
			float:left;
			width:100%;
			height:30px;
			margin-top:5px;
		}
		div.asset-text-container
		{
			float:left;
			width:140px;
			height:30px;
			margin-left:5px;
			overflow:hidden;
		}
	}
	div.costume-container 
	{
		height: 100%; 
		float: left;
		width: 30%;
		background: #DDD;
		button#filepickerNewCostume
		{
			display: block;
			@include Button($button-green, white);
			width: 90%;
			margin: auto;
			margin-top: 5px;
			text-align: center;
			font-size: 16px;
		}
		//border-right: 3px solid #333;
		li { list-style-type: none;}
		ul { padding: 0px;}
		div.filepicker-costume
		{
			height: 50px;
			margin: 3px 8px;
			padding: 4px;
			background: white;
			border-radius: 3px;
			border: solid 5px #AAA;
			img
			{
				max-width: 60px; max-height: 55px;
				float: left;
				margin-right: 8px;
			}
			input.filepicker-costume-name
			{
				float: right;
				width: 134px;
			}
			&:hover
			{
				border-color: #888;
			}
			&.active
			{
				border-color: $button-blue;
			}
			cursor: pointer;
			div.filepicker-delete-costume-container
			{
				float:right;
				width:134px;
				text-align:right;
			}
			a.filepicker-delete-costume
			{
				font-size: 12px;
				color: #333;
				&:hover
				{
					color: red;
				}
			}
		}
	}

	div.right-container
	{
		float: right;
		width: 70%;
	}
	div.filepicker-header
	{
		padding: 5px;
		padding-right: 20px;
		background: #DDD;
		text-align: center;
		span.title
		{
			font-size: 18px;
			font-weight: bold;
		}
		img#imageSelectPreview
		{
			position: absolute;
			right: 24px;
			top: 10px;
			max-height: 75px;
			max-width: 60px;
			border: solid white 3px;
		}
		.qq-draw-button
		{
			//Just to force upload btn to appear in center
			display: inline-block !important;
			@include Button($button-green, white);
		}
		.qq-upload-button
		{
			//Just to force upload btn to appear in center
			display: inline-block !important;
			@include Button($button-green, white);
		}
		.spritesheetUploadButton
		{
			//Just to force upload btn to appear in center
			display: inline-block !important;
			@include Button($button-green, white);
			height: 25px;
			width: 150px;
		}
	}
	div.filepicker-button-container
	{
		text-align: center;
		padding: 5px 0px;
		background: #DDD;
	}
	div.filepicker-sub-category-button
	{
		float:left;
		width:140px;
		background-color:rgb(179,179,179);
		margin-right:10px;
	}
	div.filepicker-scroll-container
	{
		height: 30px;
		clear: both;
		button.filepicker-scroll-left
		{
			float: left;
			@include Button($button-blue, white);
		}
		button.filepicker-scroll-right
		{
			float: right;
			@include Button($button-blue, white);
		}
	}
	div.filepicker-content
	{
		display: relative;
		h3 
		{ 
			text-align: center; 
			margin: 4px 0px;
		}
		div.filepicker-asset
		{
			cursor: pointer;
			width: 75px;
			height: 75px;
			margin: 5px;
			float: left;
			background: #DDD;
			padding: 4px;
			border-radius: 2px;
			position: relative;
			img
			{
				max-width: 100%;
				max-height: 100%;
			}
			&:hover
			{
				a.filepicker-remove-asset, a.filepicker-delete-asset
				{
					opacity: 0.9;
				}
			}
			a.filepicker-remove-asset, a.filepicker-delete-asset
			{
				z-index: 3;
				transition: opacity 0.2s;
				-webkit-transition: opacity 0.2s;
				width: 20px; height: 20px;
				background-image: url("/static/images/button_red_close.png");
				background-size: contain;
				position: absolute;
				top :-6px;
				right: -6px;
				opacity: 0.75;
				&:hover, &:active
				{
					opacity: 1;
				}
			}
		}
		div.filepicker-container
		{
			height:210px;
		}
		div.filepicker-container.image-game, div.filepicker-container.image-stock, div.filepicker-container.image-inherited, div#filepickerButtonsVideo
		{
			display: none;
		}
	}
}