@import "variables";

/* Navigation */

.navbar {
	margin-bottom: 0px;
	border: none;

	.navbar-nav {
		display: inline-block;
		float: none;
		text-transform:uppercase;
		margin: 0;
		width: 100%;
	}

	.navbar-collapse {
		text-align: center;
		padding: 0;
	}

	&.navbar-inverse {
		background-color: $blue;

		.active a:hover,li a:hover, li a:focus {
			background-color: $darkBlue;
		}
	}
}

// Override to deal with the nastiness of bootstrap

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: white;
	}
}

.navbar-fixed-top {
	top:auto;
	position:relative;
}

.dropdown-menu {
	background-color: $blue;
	color: $white;
	border: 0;

	li a:hover, li a:focus {
		background-color: $darkBlue;
		color: $white;
		background-image: none;
	}
}

.navbar-inverse {
	background-image: none;
	border-color: $blue;

	.navbar-nav {
		li a, li a:hover, li a:focus, .active a, .open a, .open a:hover, .open a:focus, .active a:hover, .active a:focus {
			color: $white
		}
	}
}


.header {
	width:auto;
	margin: 20px 0;

	h1 {
		margin-top: 130px;
		display: inline-block;
		color: white;
		font-weight: bold;
		letter-spacing: 4px;
		font-size: 48px
	}

	.gameblox-logo, .mit-logo {
		display: inline-block;
		text-decoration: none;

		&:hover {
			opacity: .5;
		}
	}

	.gameblox-logo img {
		height: 40px;
	}

	.mit-logo {
		float: right;
		height: 40px;
		line-height: 40px;

		div {
			display: inline-block;
			font-size: 80%;
			width: 115px;
			line-height: 1.2em;
			vertical-align: middle;
			margin-left: 7px;
		}
	}

}

footer {
	margin-top: 60px;
	line-height: 50px;
	height: 50px;
	background-color: $gray1;
}
