@import "reset";
@import "base";

body {
  font-family: helvetica, arial, san-serif;
  line-height: 1.5em;
  margin-left: 10px;
  margin-top: 10px;
}

.entityThumbHighlight {
  float:left;
  width:75px;
  height:75px;
  margin-top:2px;
  margin-left:2px;
  background-color:yellow;
}

.entityThumbContainer {
  float:left;
  width:70px;
  height:70px;
  margin-top:2px;
  margin-left:2px;
  background-color:red;
}


.entityThumbPic {
  float:left;
  width:50px;
  height:50px;
  margin-left:10px;
  background-color:orange;
}

.entityThumbName {
  float:left;
  width:70px;
  height:20px;
  background-color:purple;
  font-size:9pt;
  text-align:center;
  overflow:hidden;
}

.entityPanelRightArrow {
  float: left;
  width: 20px;
  height: 70px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: red;
  visibility: hidden;
}

.entityPanelLeftArrow {
  float:left;
  width:20px;
  height:70px;
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  background-color:red;
  visibility:hidden;
}

@font-face {
  font-family: 'Roboto Black';
  src: url(/static/fonts/Roboto-Black.ttf);
}

#sideBar input {
  text-align:center;
}

.sideBarTab {
  float:left;
  width:150px;
  height:30px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align:center;
  background-color:#748d9b;
  cursor:pointer;
}

.selectedSideBarTab {
  background-color:#CCEEFF;
}

#componentViewer .componentThumbnail {
  float:left;
  height:30px;
  width:30px;
  /*background-color:teal;*/
}

#componentViewer .typeThumbnail {
  border-radius:15px;
  background-color: rgb(0, 146, 195);
}


#componentViewer .hideShowArrow {
  float:left;
  height:20px;
  width:20px;
  margin-top:5px;
  margin-left:5px;
  margin-right:5px;
  background-color:black;
}

#componentViewer .componentContainer {
  float:left;
  width:100%;
  margin-bottom:5px;
}

#componentViewer .classViewer {
  float:left;
  width:230px;
  margin-left:20px;
}

#componentViewer .instanceViewer {
  float:left;
  width:180px;
  margin-left:50px;
  margin-top:5px;
}

#componentViewer .nameInputContainer {
  float:left;
  height:20px;
  width:120px;
  margin-left:5px;
  margin-top:5px;
}

#componentViewer .nameInput {
  width:110px;
}

#componentViewer .typeContainer {
  float:left;
  height:30px;
  width:100%;
  margin-bottom:5px;
}

#componentViewer .typeName {
  float:left;
  height:20px;
  width:165px;
  margin-left:5px;
  margin-top:5px;
}

#layerInstanceInfoPanel  input {
  text-align:center;
}

#layerInstanceInfoPanel {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* for color picker
http://www.almondjosephmendoza.com/2010/03/closure-googuicolorpicker-example.html */
.goog-palette-cell{
  height:40px;
  width:40px;
  margin:0;
  border:0;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid #666;
  font-size:1px
}

.goog-palette-colorswatch{
  position:relative;
  height:40px;
  width:40px;
  border:1px solid #666
}


.headerModeButtonContainer {
  float:left;
  width:80px;
}

.headerModeImageContainer {
  float:left;
  width:40px;
  height:40px;
  margin-left:20px;
  position:relative;
  background-color:white;
}

.headerModeButtonText {
  float:left;
  width:100%;
  height:20px;
  text-align:center;
  font-family:'Roboto Black';
  font-size:10pt;
}

.headerButtonBackground {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:1;
}

.headerButton {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:2;
}

div#updateProcedureBlockButton {
  display: block;
  @include Button($button-green, white);
  float:right;
  width:100px;
  /*margin-right:100px;*/
  text-align:center;
}

div#addProcedureParameterButton {
  display: block;
  @include Button($button-blue, white);
  float:right;
  width:150px;
  margin-right:20px;
  text-align:center;
}

.entitySelectionButton {
  /* float:left;*/
  width:60px;
  height:88px;
  display:none;
}

.entitySelectionContainer {
  float:left;
  /*width:240px;*/
  width:260px;
  /*width:320px;*/
  margin-left:16px;
  margin-top:5px;
  text-align:center;
}

.resetGameButton {
  /* float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;cursor:pointer;border-radius:10px;background-color:rgb(0,146,195);color:white;*/
  @include Button(rgb(0,146,195), white);
  display: inline-block;
}

.stopGameButton {
  /* style="float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;border-radius:10px;background-color:rgb(212,25,0);color:white;" */
  @include Button(rgb(212,25,0), white);
  display: inline-block;
}

.helpNextButton {
  /* float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;cursor:pointer;border-radius:10px;background-color:rgb(0,146,195);color:white;*/
  @include Button($button-green, white);
  display: inline-block;
}

.greenButton {
  @include Button($button-green, white);
  display: inline-block;
}

.blueButton {
  @include Button($button-blue, white);
  display: inline-block;
}

.redButton {
  @include Button($button-red, white);
  display: inline-block;
}

.tutorialPic {
  cursor:pointer;
}

.ht_clone_top {
  z-index:10;
}

.categoryBox {
  float:left;
  height:33px;
  width:78px;
  font-size:9pt;
  border: 1px solid black;
  background-color:#DDDDDD;
  cursor:pointer;
  overflow:hidden;
}

.entityCategoryContainer {
  float:left;
  width:420px;
}

.entityCategoryNameLabel {
  float:left;
  width:100%;
  background-color:#748d9b;
  visibility: visible;
}

.entityCategorySelections {
  float:left;
  max-height:137px;
  width:100%;
  background-color:#DDDDDD;
  overflow-y:scroll;
}

.entityCategorySelectionContainer {
  float:left;
  height:55px;
  width:78px;
  font-size:9pt;
  border: 1px solid black;
  background-color:#DDDDDD;
  cursor:pointer;
  overflow:hidden;
}

.entityCategorySelectionImage {
  float:left;
  width:30px;
  height:30px;
  margin-left:24px;
  /*background-color:blue;*/
}

.entityCategorySelectionName {
  float:left;
  width:100%;
  height:25px;
  /*background-color:red;*/
  line-height:12px;
  text-align:center;
  overflow:hidden;
}

@import "sidePanel";