
h1 {
font-family: "Trebuchet MS", Helvetica, sans-serif;
color: #828380
}

h2 {
font-family: "Trebuchet MS", Helvetica, sans-serif
}

p {
font-family: "Trebuchet MS", Helvetica, sans-serif
}

form {
color:darkblue;
}