{% extends "curriculum/base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "unplatform/activity.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "unplatform/header.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "unplatform/nav.css" %}">
{% endblock %}

{% block header_scripts %}
  <script>
    var toggleFinished = function(state) {
    document.getElementsByClassName('container-popup')[0].style.display = state;
    document.getElementsByClassName('zoomModal')[0].style.display = state;
  };
  </script>
{% endblock %}

{% block header %}
<header>
  <h1 class="logo">CLIx Connected Learning Initiative</h1>
  <p class="unplat-v">unplatform version {{ version }}</p>
  <nav>
    <button onclick="window.location.href='/Tools/'">choose tool</button>
    <button onclick="window.location.href='/{{ subject }}/{{ grade }}/{{ unit }}/'">choose new lesson</button>
    <button onclick="toggleFinished('block')">finish lesson</button>
  </nav>
</header>
{% endblock %}

{% block main_content %}
<iframe src="{% static "unplatform/content_player/index.html?epubUrl=" %}{{ MEDIA_URL }}{{ subject }}/{{ grade }}/{{ unit }}/{{ contentName }}" class="fill-win" frameBorder="0" allowfullscreen="true"></iframe>

<div class="container-popup" style="display:none">
  <dialog class="zoomModal span_6_of_12">
    <h2 class="zoom-label">Do you want to end this session?</h2>
   <form method="dialog">
      <button value="close" onclick="finished('yes')">Yes</button>
      <button value="close" onclick="toggleFinished('none'); finished('no');">No</button>
    </form>
  </dialog>
</div>

{% endblock %}
