{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block css %}
    {% endblock %}
    <script src="{% static "unplatform/jquery-3.1.0.min.js" %}"></script>
    <script src="{% static "unplatform/ui-features.js" %}"></script>
    <script src="{% static "unplatform/unplatform.js" %}"></script>
    {% block header_scripts %}
    {% endblock %}

  </head>
{% block header %}
{% endblock %}
 <body>
     {% block main_content %}
     {% endblock %}
</body>
</html>
