<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="HTML, CSS, JavaScript" charset=UTF-8>

	<script src="/modules/unplatform/report.js"></script>
	<style> 
		div { width:200px; height:200px; text-align:center; font-size:30pt; font-color:black; vertical-align:middle; border:solid;} 
		a:link { color: black; }
		a:visited { color: black; }
		a:hover { color: green; }
		a:active { color: black; }
	</style>
    </head>

    <body>
        <header>
			
        </header>
        <img src='/modules/unplatform/left_arrow.png' onclick=window.history.go(-1);>
        <center>
        <table>
        	<tr>

        		<td>

        			<a href='G9/'><div>Grade 9</div></a>
        		</td>
        		<td>
        			<a href='G11/'><div>Grade 11</div></a>
        		</td>
        		<td>
        			<a href='G12/'><div>Grade 12</div></a>
    			</td>
			</tr>
		</table>
		</center>


    </body>
</html>