{% extends "curriculum/base_nav.html" %}
{% load i18n %}

{% block header_scripts %}
<script type="text/javascript">
  var lessonClickThru = function(lessonBtn_info) {
    window.location.href=lessonBtn_info + "/?contentName=" + lessonBtn_info;
  };
</script>
{% endblock %}

{% block sub_content %}
  {% language locale %}
    <header id="header" class="">
        <nav>
            <ul class="breadcrumbs">
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/">{% trans "Select User" %}</a></li>
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/subject">{% trans "Select Subject" %}</a></li>
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/{{ subject }}">{% trans "Select Class" %}</a></li>
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/{{ subject }}/{{ grade }}">{% trans "Select Unit" %}</a></li>
            </ul>
        </nav>
    </header>

      <main class="span_10_of_12">
        <h1 class="pg-title">{% trans "Select your Lesson" %}</h1>
        <h2 class="pg-subtitle"></h2>
          <article class="subj-select">
          {% for x in lessons %}
              <button type="button" class="lesn-but" onclick="lessonClickThru('{{ x }}')">{{ x }}</button>
          {% endfor %}
          </article>
      </main>
  {% endlanguage %}
{% endblock %}
