<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="HTML, CSS, JavaScript" charset=UTF-8>

	<script src="/modules/unplatform/report.js"></script>
	<style> 
		div { width:200px; height:200px; text-align:center; font-size:30pt; font-color:black; vertical-align:middle; } 
		a:link { color: black; }
		a:visited { color: black; }
		a:hover { color: yellow; }
		a:active { color: black; }
	</style>
    </head>

    <body>
        <header>
			
        </header>
        <center>
        <table>
        	<tr>
        		<td>
        			<a href='/English/'><div style="background-color:red">English</div></a>
        		</td>
        		<td>
        			<a href='/Math/'><div style="background-color:blue">Math</div></a>
        		</td>
        		<td>
        			<a href='/Physics/'><div style="background-color:green">Physics</div></a>
    			</td>
			</tr>
		</table>
		</center>


    </body>
</html>