<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/modules/unplatform/user-survey.css">
    <script src="/modules/unplatform/jquery-3.1.0.min.js"></script>
    <script src="/modules/unplatform/ui-features.js"></script>
    <script src="/modules/unplatform/unplatform.js"></script>
  </head>

  <body>
    <img src="/modules/unplatform/images/clix-i2c-flowers4.svg" alt="" class="bg-img">
      <header id="header" class="">
        <nav>
            <ul class="breadcrumbs">
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/">Select User</a></li>
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/subject">Select Subject</a></li>
                <li onclick="window.history.go(-1);"><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#">Select Tool</a></li>
            </ul>
          </nav>
      </header>



      <main class="span_10_of_12">

          <iframe src="/modules/Tools/{{ tool }}/index.html" frameBorder="0"></iframe>

        <!--<h1 class="pg-title">User Survey</h1>-->
        <!--<h2 class="pg-subtitle">Select Tool</h2>-->
        <!--<article class="subj-select">-->
        <!--&lt;!&ndash;{% for x in activities %}&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" class="choice-select" onclick="clickThru('{{ x }}/')">{{ x }}</button>&ndash;&gt;-->
        <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
        <!--</article>-->
      </main>
</body>
</html>
</title>
</head>
<body>

</body>
</html>