{% extends "base_nav.html" %}

{% block header_scripts %}
    <script type="text/javascript">
        var clickThru = function(button_info) {
        window.location.href=`{% get_media_prefix %}Tools/${button_info}/index.html`;
        }
    </script>
{% endblock %}

{% block sub_content %}
  <header id="header" class="">
    <nav>
        <ul class="breadcrumbs">
            <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/">Select User</a></li>
            <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/subject">Select Subject</a></li>

        </ul>
      </nav>
  </header>

  <main class="span_10_of_12">
    <h1 class="pg-title">Choose your Tool</h1>
    <h2 class="pg-subtitle"></h2>
      <article class="subj-select">
    {% for x in tools %}
      <button type="button" class="choice-select" onclick="clickThru('{{ x }}')">{{ x }}</button>
    {% endfor %}
    </article>
  </main>
{% endblock %}

