{% extends "curriculum/base_nav.html" %}

{% block sub_content %}
    <header id="header" class="">
        <nav>
            <ul class="breadcrumbs">
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/">Select User</a></li>
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/subject">Select Subject</a></li>
                <li><i class="fa fa-chevron-left pink-chev" aria-hidden="true"></i>&nbsp;&nbsp;<a href="/{{ subject }}">Select Class</a></li>
            </ul>
        </nav>
    </header>

      <main class="span_10_of_12">
        <h1 class="pg-title">Select your Unit</h1>
        <h2 class="pg-subtitle"></h2>
          <article class="subj-select">
          {% for x in units %}
            <button type="button" class="choice-select" onclick="clickThru('{{ x }}/')">{{ x }}</button>
          {% endfor %}
          </article>
      </main>
{% endblock %}

