html,body{
    margin: 0px;
    padding: 0px;
}
@font-face {
	font-family:"Comic Sans MS";
	src:url("assets/comic.ttf") format("truetype");
}
	
body {
	height:600px;
	width:800px;
	font-family: "Comic Sans MS", sans-serif;
    
	/*border:1px solid #4F553D;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	
	overflow:hidden;	
    
}
	
#PreLoader {
    background-color:black;
    height:600px;
    width:801px;
    position:absolute;
    top:0px;
    left:0px;
}
#LoadingText {
    font-size:25px;
    font-weight:600;
    font-family:Courier New;
    color:pink;    
    display:block;    
    margin:250px 0px 0px 245px;
}
#LoadingImg {
    background-repeat:no-repeat;
    display:block;    
    margin:20px 0px 0px 240px;
}

#mainDiv {
   display: none;
    margin: 0 auto;
    width:800px;
    height:600px;
    overflow:hidden;
    /*-moz-border-radius:10px;
    -webkit-border-radius:10px;*/
	
    -webkit-transform:scale(1);
    -webkit-transform-origin : left top;
    -moz-transform :scale(1);
    -moz-transform-origin : left top;
    -ms-transform :scale(1);
    -ms-transform-origin : left top;
    -o-transform :scale(1);
    -o-transform-origin : left top;
    transform :scale(1);
    transform-origin : left top;
    
}
.button {
    cursor: pointer;
    /*-moz-box-shadow: 3px 4px 0px 0px #899599;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;*/
    background-color: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color: #ededed;
    /*-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;*/
    border: 1px solid #d6bcd6;
    display: inline-block;
    color: #3a8a9e;
    font-family: arial;
    font-size: 17px;
    font-weight: normal;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}
.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background: -moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color: #bab1ba;
}
.button:active {
    position: relative;
    
}

a img{
	border:none;
}

.screenDiv {
	height:600px;
	width:800px;
    display: none;
    background-color: #3E3F42;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #3E3F42 0%, #000000 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #3E3F42 0%, #000000 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #3E3F42 0%, #000000 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3E3F42), color-stop(1, #000000));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #3E3F42 0%, #000000 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #3E3F42 0%, #000000 100%)
    
}
.left-side{
    width: 80%;
    display: inline-block;
    height: 100%
}
.right-side{
    width: 19%;
    display: inline-block;
    position: absolute;
    top: 0;
    height: 100%;
}
#topRow{
    color: white;
}
#topRow div{
    display: inline-block;
        margin: 15px 40px;
    color: white;
    font-size: 20px;
}
#shapes{
        border: 1px solid white;
    padding: 10px;
    margin: 5px 10px 10px 20px;
    background: rgba(255, 255, 255, 0.48);
}
#clues{
    padding: 10px;
    margin: 5px 10px 10px 20px;
    color: white;
}
.shapeFig img{
    max-width: 100%;
    position: absolute; 
    vertical-align: middle;
    max-height: 100%;
}
.shapeFig{
    display: inline-block;
    width: 25%;
    position: relative;
    height: 130px;
    line-height: 130px;
}
.shapeFig .cross, .shapeFig .undo{
    position: absolute;
    top: 0;
    font-size: 70px;
    text-align: center;
    width: 100%;
    color: #5D2020;
    display: none;
    cursor: pointer;
}
.shapeFig .undo{
    color: #0C2B0C;
    font-size: 60px;
}
.shapeFig.innocent img{
    opacity: 0.4
}
.innocent .undo{
    display: inline-block !important;
    opacity: 1;
}
#gameActions div{
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: 50px;
    border: 1px solid white;
    padding: 6px 22px;
    box-shadow: inset 0px 0px 14px -5px #ECDBDB;
    text-shadow: -2px 2px 4px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.53);
    cursor: pointer;
}
#gameActions i{
     font-size: 50px;
     line-height: 50px;
}
#gameActions{
    position: absolute;
    bottom: 10px;
}
#mangoTreats{
    border: 1px solid white;
    min-height: 50%;
    width: 50px;
    min-height: 50px;
    position: absolute;
    top: 63px;
    right: 10px;
    text-align: center;
}
#mangoTreats i{
    color: white;
    font-size: 40px;
    line-height: 50px;
}
#toast-container{
    left: 480px !important;
    top: 500px !important;
}
.suspect-pic{
    width: 100%;
    position: absolute;
    bottom: 10px;
    border: 1px solid gray;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 14px -5px #ECDBDB;
}
.suspect-pic img{
    max-width: 100%;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}
#introDiv{
    width: 100%;
    height: 100%;
    background: url("../assets/story01.png") 0% 0% / contain;
}
#introDiv p{
    margin: 0;
    color: white;
    font-size: 30px;
    padding: 10px;
}
#gameTitle{
        color: white;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    height: 600px;
    width: 800px;
    background: rgba(0, 0, 0, 0.71);
    /* font-family: 'Lobster', cursive; */
    word-spacing: 10px;
    letter-spacing: 5px;
    position: absolute;
}
#gameTitle h1{
    margin-bottom: 40px;
    margin-top: 250px;
}
#gameStats{
    font-family: 'Lobster', cursive;
    width: 80%;
    margin: 0 auto;
    height: 80%;
    top: 5%;
    position: relative;
    background-color: #DADADA;
    padding: 25px;
    text-align: center;
    /*display: none;*/
}

#summaryClues{
    text-align: left;
    margin-bottom: 20px;
}
#summaryClues li{
    color: #379437;
    font-size: 22px;
}
#gameStats p{
    font-size: 20px;
}
.leftStory,.rightStory{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.rightStory{
    left: 50%;
    background: url("../assets/story03.png") 0% 0% / cover;
}
.blue{
    color: blue;
}
.story-image{
    width: 100%;
    text-align: center;
    padding-top: 25px;
}
.story-image img{
    width: 450px;
}
#nextCase{
    position: absolute;
    top: 300px;
    right: 0;
    color: white;
    text-align: center;
    opacity: 0.5
}
#nextCase i{
    font-size: 40px;
}