/* Variables */
/* Variables */
body {
  background-image: -repeating-linear-gradient(left top, #E0FFFF 0%, #E0EBEB 15%, #E0FFFF 20%);
  background-image: -webkit-repeating-linear-gradient(left top, #E0FFFF 0%, #E0EBEB 15%, #E0FFFF 20%);
  background-image: -moz-repeating-linear-gradient(left top, #E0FFFF 0%, #E0EBEB 15%, #E0FFFF 20%);
  background-image: -ms-repeating-linear-gradient(left top, #E0FFFF 0%, #E0EBEB 15%, #E0FFFF 20%);}

.heading {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  color:black;
  font-size: 50px;}

.collection-heading{
  font-size: 30px;
  margin: 12px;
  text-align: center;
  color: black;
  text-decoration: none !important;}
  .collection-heading:hover{
    text-shadow: 1px 1px 1px black;}
.delete-collection-btn-container{
  float: right;}
#delete-collection-btn{
  text-align: right;
  color:red;
  margin: 0px;}

.carousel-border{
  border-style:ridge;
  border-width:3px;}
.carousel-control{
  padding-top:10%;
  width:4%;
  opacity:0.3;}
.carousel-control:hover{
  opacity:0.7;}
.carousel .thumbnail {
  margin-bottom: 0px;}
.carousel .row {
  margin: 0px 20px;}
.carousel .thumbnail .editButton{  
  bottom: 2%;}

.profile-carousel{
  height:195px;}
.profile-carousel .carousel .thumbnail .imageContainer{
  height: 140px;}
.profile-carousel .carousel .thumbnail .viewsThumbsCount{
  font-size: 10px;}
.profile-carousel .carousel .thumbnail .editButton{
  font-size: 12px;
  padding: 1.5% 3%;}
.profile-carousel .carousel-control {
  padding-top:15%;}

.thumbnail .delete-btn{
    float: right;
    display: inline-block;
    padding: 0.8% 0.8%;
    background-color: #c3d7eb;
    color: #40718C;
    -webkit-transition: 0.3s Ease;
    -moz-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease;
    position: absolute;
    right: 7.5%;
    bottom:28%;}
    .thumbnail .delete-btn:hover{
      background: #607275;
      color: white;}

.thumbnail {
  border: 1px solid #A1DAC1;
  text-align: left;
  box-shadow: 1px 1px 0px #255963;
  -webkit-transition: 0.3s Ease;
  -moz-transition: 0.3s Ease;
  -o-transition: 0.3s Ease;
  transition: 0.3s Ease; }
  .thumbnail a{
    text-decoration: none;
    position: relative;}
  .thumbnail:hover{
    box-shadow: 0px 0px 7px 5px #E0EEEE;}
  .thumbnail .caption{
    overflow: hidden;
    padding: 1%;
    display: inline-block;
    width: 70%;}
  .thumbnail .gamename{
    color: blue;
    margin: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
  .thumbnail .username{
    color: black;
    margin: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: 0.3s Ease;
    -moz-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease;}
  .thumbnail .username:hover{
    color: purple;}
  .thumbnail .imageContainer{
    display: block;
    overflow: hidden;
    height: 200px;}
  .thumbnail .thumbnailimage{
    background-color: #F0F8FF;
    min-width: 100%;
    height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -ms-interpolation-mode: bicubic;}
  .thumbnail .viewsThumbsCount{
    float: right;
    text-align: right;
    /*display: inline-block;*/
    display: none;
    color: black;
    margin: .5% 3% 0 0;
    width: 26%;}
  .thumbnail .editButton{
    float: right;
    display: inline-block;
    padding: 1.5% 3%;
    background-color: #c3d7eb;
    color: #40718C;
    -webkit-transition: 0.3s Ease;
    -moz-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease;
    position: absolute;
    right: 7%;
    bottom: 9%;}
    .thumbnail .editButton:hover{
      background: #607275;
      color: white;}
  .thumbnail .notes{
    position: absolute;
    z-index: 1;
    text-align: center;
    width:88%;
    opacity: 0;
    -webkit-transition: 0.3s Ease;
    -moz-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease;}
  .thumbnail:hover > .notes{
    opacity: 1;}

/* Navigation */
/* To make the navbar resizable-friendly, change some of the px to vw (especially in left/right padding/margins and text size) */
.navbar {
  margin-bottom: 0px;
  border: none;
  font-size: 1.8vw;
  margin-left: -20px;
  min-height: 40px;}
  .navbar .navbar-toggle {
    margin: 5px;
    padding: 5px;}
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: auto;}
  .navbar .navbar-nav a{
    padding: 10px 1.5vw;}
  .navbar .navbar-nav .dropdown-menu a{
    padding-top: 5px;
    padding-bottom: 5px}
  .navbar .gameblox-logo-holder{
    height: 40px;
    padding: 0px;} 
  .navbar .gameblox-logo{
    display:block;
    height: 100%;}
  .navbar .navbar-collapse {
    text-align:   center;
    padding: 0; }
  .navbar.navbar-inverse {
    background-color: #188ec1; }
    .navbar.navbar-inverse .pull-left li a:hover, .navbar.navbar-inverse .pull-left li a:focus {
      background-color: #0981a6; }
  .navbar .mit-logo-holder{
    height: 40px;
    padding: 0px;
    margin-right: -30px;} 
  .navbar .mit-logo{
    display:block;
    height: 100%;}
  .navbar .gameblox-logo:hover, .navbar .mit-logo:hover {
    opacity: .5; }

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white;}
  .navbar{
    margin-left: 0px;
    font-size: 21px;}
  .navbar .navbar-nav{
    width: 100%;}
  .navbar .mit-logo-holder{
    display: none;}
}

.navbar-fixed-top {
  top: auto;
  position: fixed; }
.dropdown-menu {
  background-color: #188ec1;
  color: white;
  border: 0;
  font-size: 16px;}
  .dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background-color: #0981a6;
    color: white;
    background-image: none;}
.navbar-inverse {
  background-image: none;
  border-color: #188ec1; }
  .navbar-inverse .navbar-nav li a, .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus, .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .open a, .navbar-inverse .navbar-nav .open a:hover, .navbar-inverse .navbar-nav .open a:focus, .navbar-inverse .navbar-nav .active a:hover, .navbar-inverse .navbar-nav .active a:focus {
    color: white;}

#thumbs_up_img{
  height: 30px;
  float:center;}

footer {
  margin-top: 40px;
  line-height: 40px;
  height: 40px;
  background-color: #ebebe0;
  padding: 0px 40px;}

@font-face {
  font-family: 'Roboto Black';
  src: url(/static/fonts/Roboto-Black.ttf);
  font-weight: bold; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto-Black', helvetica, arial, sans-serif; }

a:hover {
  color: #188ec1; }

img {
  max-width: 100%; }

section {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

section:first-of-type {
  border-top: 0;
  margin-top: 0; }

.content {
  padding-top: 50px; }

/* Home page */
.questions {
  margin-bottom: 20px; }
  .questions summary {
    line-height: 1.5em;
    color: #188ec1;
    cursor: pointer; }
  .questions summary:hover {
    opacity: .5;
    text-decoration: underline; }

.credit .credit-header {
  font-weight: bold; }

/* Game page */
#featuredprojects h1 {
  text-align: center;
  margin-bottom: 40px; }

/* All games */
#profile .featurette h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }
#profile .featurette .caption h3 {
  margin-top: 0; }

/* Report Form */
.report-form {
  display: none;
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 4px; }
  .report-form .report-response {
    display: none; }
  .report-form table {
    width: 100%; }
  .report-form .checkbox {
    margin-top: 0px; }

#game-profile .game-actions li {
  margin: 10px 0; }
#game-profile .history .btn:first-of-type {
  margin-right: 10px; }

/* Media Queries */
@media all and (max-width: 991px) {
  #game-profile .game-actions li {
    margin-right: 10px;
    display: inline-block; }

  #homepage.logged-out h1, #homepage.logged-out p, #homepage.logged-out a, #homepage.logged-out img {
    text-align: center; } }
@media all and (max-width: 480px) {
  .header {
    text-align: center; }
    .header .mit-logo {
      display: none; } }
.resetGameButtonPlay {
  /* float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;cursor:pointer;border-radius:10px;background-color:rgb(0,146,195);color:white;*/
  color: white;
  background-image: -linear-gradient(top, #0092c3 0%, #006081 100%);
  background-image: -webkit-linear-gradient(top, #0092c3 0%, #006081 100%);
  background-image: -moz-linear-gradient(top, #0092c3 0%, #006081 100%);
  background-image: -ms-linear-gradient(top, #0092c3 0%, #006081 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14pt; }
  .resetGameButtonPlay:hover {
    background-image: -linear-gradient(top, #00739a 0%, #004258 100%);
    background-image: -webkit-linear-gradient(top, #00739a 0%, #004258 100%);
    background-image: -moz-linear-gradient(top, #00739a 0%, #004258 100%);
    background-image: -ms-linear-gradient(top, #00739a 0%, #004258 100%); }

.stopGameButtonPlay {
  /* style="float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;border-radius:10px;background-color:rgb(212,25,0);color:white;" */
  color: white;
  background-image: -linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -webkit-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -moz-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -ms-linear-gradient(top, #d41900 0%, #921100 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14pt; }
  .stopGameButtonPlay:hover {
    background-image: -linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -webkit-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -moz-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -ms-linear-gradient(top, #ab1400 0%, #690c00 100%); }

.editGameButtonPlay {
  /* style="float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;border-radius:10px;background-color:rgb(212,25,0);color:white;" */
  color: white;
  background-image: -linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -webkit-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -moz-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -ms-linear-gradient(top, #d41900 0%, #921100 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14pt; }
  .editGameButtonPlay:hover {
    background-image: -linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -webkit-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -moz-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -ms-linear-gradient(top, #ab1400 0%, #690c00 100%); }

.copyGameButtonPlay {
  /* style="float:left;width:150px;height:30px;margin-left:45px;font-size:14pt;text-align:center;border-radius:10px;background-color:rgb(212,25,0);color:white;" */
  color: white;
  background-image: -linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -webkit-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -moz-linear-gradient(top, #d41900 0%, #921100 100%);
  background-image: -ms-linear-gradient(top, #d41900 0%, #921100 100%);
  border-width: 0px;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14pt; }
  .copyGameButtonPlay:hover {
    background-image: -linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -webkit-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -moz-linear-gradient(top, #ab1400 0%, #690c00 100%);
    background-image: -ms-linear-gradient(top, #ab1400 0%, #690c00 100%); }
